<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Total of users ({{users.length}})</h4>
  <div class="card-block">
    <table class="table table-bordered table-striped">
      <thead class="thead-default">
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="users.length === 0">
        <tr>
          <td colspan="4">There are no users in the DB. Add a new user below.</td>
        </tr>
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let user of users">
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.role}}</td>
          <td>
            <button class="btn btn-sm btn-warning" (click)="enableEditing(user)"><i class="fa fa-pencil"></i> Edit</button>
            <button class="btn btn-sm btn-danger" (click)="deleteUser(user)"><i class="fa fa-trash"></i> Delete</button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="4">
            <form class="form-inline" #form="ngForm" (ngSubmit)="editUser(user)" style="display:inline">
              <div class="form-group">
                <input class="form-control" type="text" name="username" [(ngModel)]="user.username" placeholder="Username" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="email" name="email" [(ngModel)]="user.email" placeholder="Email" required>
              </div>
              <div class="form-group">
                <select class="form-control" name="role">
                    <option value="" selected disabled>Role</option>
                    <option value="user">User</option>
                    <option value="admin">Admin</option>
                  </select>
              </div>
              <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
            </form>
            <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card" *ngIf="!isEditing">
  <h4 class="card-header">Add new user</h4>
  <div class="card-block">
    <form class="form-horizontal" [formGroup]="usersForm" (ngSubmit)="addUser()" style="text-align:center">
      <div class="col-md-6">
        <p>Login Info</p>
        <div class="form-group">
          <input class="form-control" type="text" name="username" formControlName="username" placeholder="Username">
        </div>
        <div class="form-group">
          <input class="form-control" type="email" name="email" formControlName="email" placeholder="Email">
        </div>
        <div class="form-group">
          <select class="form-control" name="role" formControlName="role">
              <option value="" selected disabled>Role</option>
              <option value="user">User</option>
              <option value="admin">Admin</option>
            </select>
        </div>
      </div>
      <div class="col-md-6">
        <p>User Info</p>
        <div class="form-group">
          <select class="form-control" name="provincesCtrl" formControlName="provincesCtrl" [(ngModel)]="selectedProvince" (change)="getDistrict(selectedProvince)">
              <option [value]="" selected disabled>Province</option>
              <option *ngFor="let item of provinces" [value]="item.id">{{item.nama}}</option>
            </select>
        </div>
        <div class="form-group">
          <select class="form-control" name="districtCtrl" formControlName="districtCtrl" [(ngModel)]="selectedDistrict" (change)="getDistricts(selectedDistrict)">
              <option [value]="" selected disabled>Kabupaten</option>
              <option *ngFor="let item of district" [value]="item.id">{{item.nama}}</option>
            </select>
        </div>

        <div class="form-group">
          <select class="form-control" name="districtsCtrl" formControlName="districtsCtrl">
              <option [value]="" selected disabled>Kecamatan</option>
              <option *ngFor="let item of districts" [value]="item.id">{{item.nama}}</option>
            </select>
        </div>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!usersForm.valid"><i class="fa fa-floppy-o"></i> Add</button>
    </form>
  </div>
</div>